 body{
    font-size: 18px;
    background-image: url(../images/darkness.png);
    background-color: lightblue;
 }  

 .navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 60px;
 }

 nav{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }

#name{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 30px 30px;
    margin: 0;

}

h1 {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom: solid;
}



nav .navItems {
    display: flex;
    align-items: center;
    padding-right: 10px;
    list-style: none;
    font-family: 'Arial', 'Helvetica Neue',helvetica sans-serif;
}

nav .navItems li{
    padding-left: 30px;
}

nav .navItems li a {
    text-decoration: none;
    color: #777777;
}

nav .navItems li a:hover {
    color: #370247;

}


.main-content{
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    border: #dddddd;
    padding: 30px auto;
}

section {
    margin: 30px auto;
}

section .headshot {
    max-width: 25%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0px 5px 5px 0px;
}

.headshot{
    float: left;
    margin-right: 20px;
    border-bottom: solid black;
}

p{
    color: black;
    font-family: 'VT323', monospace;
    scroll-margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.5rem;

}
form{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

form label {

    display: block;
    padding-bottom: 7px;
}

input 
textarea {
    font-size: .89rem;
    width: 100%;
    outline: none;

}


input {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px 10px;
}

form input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 1.2rem;
    width: 20%
}

footer {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 2.3rem;
    padding-top: 50px;
    text-align: center;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: white;
}

